/* fraunces-900 - latin */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: local(''),
        url('../fonts/fraunces-v26-latin-900.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/fraunces-v26-latin-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* barlow-regular - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/barlow-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* barlow-700 - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/barlow-v12-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/barlow-v12-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ROOT */
:root {
    /* --header-bg-color: #fff; */
    /* --main-bg-color: #fff; */
    /* --main-text-color: #fff; */
}

html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/****************** HEADER STYLES START *****************/
.site-header {
    padding-top: 43px;
    padding-bottom: 43px;
    background-color: var(--header-bg-color);
}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__logo--img {
    width: 236px;
    height: 26px;
}

.sitenav__list {
    display: flex;
}

.sitenav__item:not(:last-child) {
    margin-right: 33px;
}

.sitenav__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    color: #83888F;
}

.menu-btn {
    display: none;
    border: none;
    outline: none;
    background-color: transparent;
}

.hidden-header {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin-top: 85px;
    padding-top: 40px;
    text-align: center;
    background: linear-gradient(to top, #fefcf781 0%, #FEFCF7 55.94%);
    transform: translateY(-150%);
    transition: transform 1s ease;
}

.hidden-header.shownav {
    display: block;
    transform: translateY(0%);
}

.hiddennav__item:not(:last-child) {
    margin-bottom: 32px;
}

.hiddennav__link {
    font-size: 24px;
    line-height: 32px;
    color: var(--main-text-color);
}

/******************* HEADER TABLET STYLES START ******************/
@media only screen and (max-width: 768px) {
    .site-header {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .site-header__logo--img {
        width: 235px;
        height: 25px;
    }
}

/******************* HEADER TABLET STYLES END ******************/

/******************* HEADER MOBILE STYLES START ******************/
@media only screen and (max-width: 600px) {
    .site-header {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .site-header__logo--img {
        width: 162px;
        height: 17px;
    }

    .sitenav {
        display: none;
    }

    .menu-btn {
        display: block;
    }
}

/******************* HEADER MOBILE STYLES END ******************/

/****************** HEADER STYLES END *****************/