/* fraunces-900 - latin */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: local(''),
        url('../fonts/fraunces-v26-latin-900.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/fraunces-v26-latin-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* barlow-regular - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/barlow-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* barlow-700 - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/barlow-v12-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/barlow-v12-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ROOT */
:root {
    --header-bg-color: #FEFCF7;
    --main-bg-color: #FEFCF7;
    --main-text-color: #333D4B;
    --why-section-bg-color: #2C343E;
    --main-btn-color: #0E8784;
}

html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Fraunces", 'Times New Roman', Times, serif;
    font-weight: 900;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/****************** HEADER STYLES START *****************/
.site-header {
    padding-top: 43px;
    padding-bottom: 43px;
    background-color: #fff;
}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__logo--img {
    width: 236px;
    height: 26px;
}

.sitenav__list {
    display: flex;
}

.sitenav__item:not(:last-child) {
    margin-right: 33px;
}

.sitenav__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    color: #83888F;
}

.menu-btn {
    display: none;
    border: none;
    outline: none;
    background-color: transparent;
}

.hidden-header {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin-top: 85px;
    padding-top: 40px;
    text-align: center;
    background: linear-gradient(to top, #fefcf781 0%, #FEFCF7 55.94%);
    transform: translateY(-150%);
    transition: transform 1s ease;
}

.hidden-header.shownav {
    display: block;
    transform: translateY(0%);
}

.hiddennav__item:not(:last-child) {
    margin-bottom: 32px;
}

.hiddennav__link {
    font-size: 24px;
    line-height: 32px;
    color: var(--main-text-color);
}

/******************* HEADER TABLET STYLES START ******************/
@media only screen and (max-width: 768px) {
    .site-header {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .site-header__logo--img {
        width: 235px;
        height: 25px;
    }
}

/******************* HEADER TABLET STYLES END ******************/

/******************* HEADER MOBILE STYLES START ******************/
@media only screen and (max-width: 600px) {
    .site-header {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .site-header__logo--img {
        width: 162px;
        height: 17px;
    }

    .sitenav {
        display: none;
    }

    .menu-btn {
        display: block;
    }
}

/******************* HEADER MOBILE STYLES END ******************/

/****************** HEADER STYLES END *****************/

/****************** MAIN STYLES START *****************/
/* HERO SECTION START */
.hero-section {
    padding-top: 8px;
    padding-bottom: 60px;
}

.hero-section__wrapper {
    width: 100%;
    padding: 101px 24px 136px 24px;
    background: url('../images/hero-img.jpg'), rgba(0, 0, 0, 0.513886);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #A2A2A2;
    border-radius: 10px;
}

.hero-section__start {
    text-align: center;
}

.hero-section__title {
    margin: 0;
    margin-bottom: 22px;
    font-size: 40px;
    line-height: 40px;
    color: var(--header-bg-color);
}

.hero-section__desc {
    margin: 0;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: var(--header-bg-color);
    opacity: 0.8;
}

/* TABLET RESPONSIVE START */
@media only screen and (min-width: 768px) {
    .hero-section {
        padding-top: 13px;
        padding-bottom: 72px;
    }

    .hero-section__wrapper {
        padding: 126px 58px;
        background-image: url('../images/hero-full-img.jpg');
        background-position: left center;
    }

    .hero-section__start {
        width: 398px;
        text-align: left;
    }
}

/* TABLET RESPONSIVE END */

/* DESKTOP RESPONSIVE START */
@media only screen and (min-width: 1024px) {
    .hero-section {
        padding-top: 0;
        padding-bottom: 84px;
    }

    .hero-section__wrapper {
        padding: 134px 85px;
        background-image: url('../images/hero-desktop-img.jpg');
        background-position: left center;
        background-size: cover;
    }

    .hero-section__start {
        width: 485px;
        text-align: left;
    }

    .hero-section__title {
        font-size: 72px;
        line-height: 72px;
        margin-bottom: 32px;
    }

    .hero-section__desc {
        font-size: 16px;
        line-height: 26px;
    }
}

/* DESKTOP RESPONSIVE END */

/* HERO SECTION END */

/* CHOOSE SECTION START */
.choose-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* .container{
    display: none;
} */

.choose-section__wrapper {
    padding: 80px 20px;
    background: var(--why-section-bg-color);
    border-radius: 10px;
}

.choose-section__list {
    display: flex;
    flex-direction: column;
}

.choose-section__item:not(:last-child) {
    margin-bottom: 56px;
}

.choose-section__item {
    text-align: center;
}

.choose-section__number {
    display: block;
    margin: 0;
    margin-bottom: 24px;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}

.choose-section__title {
    margin: 0;
    margin-bottom: 24px;
    font-size: 28px;
    line-height: 32px;
    color: #fff;
}

.choose-section__desc {
    margin: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #fff;
}

/* MOBILE RESPONSIVE START */
@media only screen and (min-width: 375px) {
    .choose-section__item {
        width: 327px;
        margin: 0 auto;
    }
}

/* MOBILE RESPONSIVE END */

/* TABLET RESPONSIVE START */
@media only screen and (min-width: 768px) {
    .choose-section {
        padding-top: 72px;
        padding-bottom: 72px;
    }

    .choose-section__wrapper {
        padding: 176px 20px 70px 20px;
        background-image: url('../images/choose-img.png');
        background-repeat: no-repeat;
        background-position: 40px 97px;
        background-size: 497px 31px;
    }

    .choose-section__list {
        flex-direction: row;
        justify-content: space-between;
    }

    .choose-section__item {
        margin: 0;
        width: 223px;
        text-align: left;
    }

    .choose-section__item:not(:last-child) {
        margin: 0;
    }

    .choose-section__number {
        margin-bottom: 42px;
        font-size: 72px;
        line-height: 72px;
    }

    .choose-section__title {
        margin-bottom: 38px;
        font-size: 28px;
        line-height: 32px;
    }

    .choose-section__desc {
        font-size: 15px;
        line-height: 25px;
    }
}

/* TABLET RESPONSIVE END */

/* DESKTOP RESPONSIVE START */
@media only screen and (min-width: 1024px) {
    .choose-section {
        padding-top: 84px;
        padding-bottom: 84px;
    }

    .choose-section__wrapper {
        padding: 198px 150px 100px 85px;
        background-image: url('../images/choose-img.png');
        background-repeat: no-repeat;
        background-position: 85px 100px;
        background-size: 560px 31px;
        border-radius: 10px;
    }

    .choose-section__list {
        flex-direction: row;
        justify-content: space-between;
    }

    .choose-section__item {
        margin: 0;
        width: 223px;
        text-align: left;
    }

    .choose-section__item:not(:last-child) {
        margin: 0;
    }

    .choose-section__number {
        margin-bottom: 42px;
        font-size: 72px;
        line-height: 72px;
    }

    .choose-section__title {
        margin-bottom: 38px;
        font-size: 28px;
        line-height: 32px;
    }

    .choose-section__desc {
        font-size: 15px;
        line-height: 25px;
    }
}

/* DESKTOP RESPONSIVE END */


/* CHOOSE SECTION END */

/* PRODUCTS SECTION START */
.products-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.products-section__wrapper {
    width: 100%;
}

.products-section__start {
    display: none;
}

.products-end__list {}

.products-end__item:not(:last-child) {
    margin: 0;
    margin-bottom: 110px;
}

.products-end__title {
    margin: 0;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 28px;
    color: #83888F;
}

.products-card {
    width: 100%;
    padding: 24px 25px;
    background: #F4F1EB;
    border-radius: 8px;
    color: var(--main-text-color);
}

.products-card:not(:last-child) {
    margin-bottom: 16px;
}

.products-card:hover {
    background-color: var(--main-btn-color);
    color: #fff;
}

.products-card:active {
    background-color: #FDD6BA;
    color: var(--main-text-color);
}

.products-card__title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 32px;
}

.products-card__desc {
    margin: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.products-order__wrapper {
    width: 100%;
    margin-top: 120px;
    margin-bottom: 56px;
    padding: 32px 24px;
    background-color: var(--why-section-bg-color);
    border-radius: 10px;
}

.products-order__title {
    margin: 0;
    margin-bottom: 8px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 0.5;
}

.products-order__desc {
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
}

.products-order__check {
    color: #0E8784;
}

.products-order__btn-wrapper {
   display: flex;
   justify-content: center;
}

.products-order__btn {
    display: inline-block;
    padding: 15px 35px;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #FEFCF7;
    background: #0E8784;
    border-radius: 6px;
}

.products-order__btn:active{
    background: #66D2CF;
}

/* PRODUCTS SECTION END */

/* TABLET RESPONSIVE START */
@media only screen and (min-width: 768px) {
    .products-section {
        padding-top: 72px;
        padding-bottom: 72px;
    }

    .products-end__item:not(:last-child) {
        margin-bottom: 100px;
    }

    .products-card__wrapper {
        display: flex;
        justify-content: space-between;
    }

    .products-card {
        width: 223px;
        padding: 32px 25px 84px 25px;
    }

    .products-card:not(:last-child) {
        margin: 0;
    }

    .products-end__title {
        font-size: 32px;
        line-height: 48px;
    }

    .products-card__title {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 32px;
    }

    .products-card__desc {
        font-size: 16px;
        line-height: 26px;
    }

    .products-order__wrapper{
        padding: 27px 64px;
    }
}

/* DESKTOP RESPONSIVE START */

@media only screen and (min-width: 1024px) {
    .products-section {
        padding-top: 84px;
        padding-bottom: 84px;
    }

    .products-section__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 85px;
    }

    .products-section__start {
        display: block;
        width: 255px;
    }

    .products-start__item {
        border-bottom: 1px solid rgba(131, 136, 143, 0.25);
    }

    .products-start__item:not(:last-child) {
        margin-bottom: 24px;
    }

    .products-start__link {
        display: inline-block;
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 32px;
        color: rgb(51, 61, 75);
        opacity: 0.4;
    }

    .products-start__link:hover {
        opacity: 0.6;
    }

    .products-start__link:active {
        opacity: 1;
    }

    .products-start__desc {
        display: inline-block;
        margin-right: 28px;
        color: rgb(14, 135, 132);
    }

    .products-section__end {
        width: 100%;
        max-width: 730px;
    }

    .products-end__item:not(:last-child) {
        margin-bottom: 88px;
    }

    .products-card {
        width: 228px;
        padding: 32px 28px 84px 28px;
    }

    .products-end__title {
        margin-bottom: 56px;
        font-size: 40px;
        line-height: 48px;
    }

    .products-order__btn-wrapper{
        justify-content: flex-end;
    }
}

/* DESKTOP RESPONSIVE END */

/****************** MAIN STYLES END *****************/

/************ FOOTER STYLES START ************/
.site-footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.site-footer__wrapper {
    padding: 54px;
    background-color: #2C343E;
}

.site-footer__logo {
    display: block;
    margin-bottom: 48px;
    color: #fff;
}

.site-footer__logo-img {
    display: block;
    margin: 0 auto;
}

.site-footer__list {
    margin-bottom: 48px;
    text-align: center;
}

.site-footer__item:not(:last-child) {
    margin-bottom: 24px;
}

.site-footer__link {
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    color: #83888F;
}

.socials {
    width: 120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials__logo-img {
    width: 24px;
    height: 24px;
}

/* TABLET RESPONSIVE START */

@media only screen and (min-width: 768px) {
    .site-footer {
        padding-top: 72px;
        padding-bottom: 72px;
    }

    .site-footer__logo {
        margin-bottom: 32px;
    }

    .site-footer__logo-img {
        width: 235px;
        height: 25px;
    }

    .site-footer__list {
        margin-bottom: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .site-footer__item:not(:last-child) {
       margin-bottom: 0;
       margin-right: 32px;
    }

    .site-footer__link {
        font-family: 'Barlow';
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        color: #83888F;
    }

    .socials {
        width: 120px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .socials__logo-img {
        width: 24px;
        height: 24px;
    }
}

/* TABLET RESPONSIVE END */

/* DESKTOP RESPONSIVE START */

@media only screen and (min-width: 1024px) {
    .site-footer {
        padding-top: 84px;
        padding-bottom: 84px;
    }

    .site-footer__wrapper {
        padding: 47px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    

    .site-footer__logo {
        margin-bottom: 0;
    }

    .site-footer__list {
        margin-bottom: 0;
    }

    .site-footer__item:not(:last-child) {
       margin-bottom: 0;
       margin-right: 32px;
    }

    .socials {
        width: 120px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .socials__logo-img {
        width: 24px;
        height: 24px;
    }
}

/* DESKTOP RESPONSIVE END */

/************ FOOTER STYLES END ************/